In [1]:
import pandas as pd
df_close = pd.read_csv('../data/sp500/Close.csv', 
                       index_col='Date', 
                       parse_dates=True)
df_close.tail()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-20,161.50,101.63,95.20,310.01,236.61,84.00,478.48,82.77,157.44,17.95,...,80.28,69.01,18.75,101.38,79.13,94.91,276.55,136.80,32.13,158.54
2020-08-21,161.71,102.40,94.86,307.57,237.49,83.21,473.22,83.81,156.11,18.02,...,82.79,69.61,18.76,102.00,79.14,95.63,275.33,136.16,31.59,158.37
2020-08-24,163.53,101.39,94.51,304.95,237.75,83.10,476.30,83.08,157.14,18.07,...,86.79,70.41,19.30,102.47,81.14,96.09,275.39,136.81,33.04,156.76
2020-08-25,163.10,102.47,94.06,311.12,238.21,83.62,484.43,86.35,156.06,17.89,...,86.21,68.97,18.91,103.39,80.68,96.48,277.86,137.60,33.06,158.58
2020-08-26,163.90,103.19,94.35,306.14,240.45,84.48,528.49,86.02,156.48,17.73,...,84.80,68.13,18.79,104.98,80.70,95.33,284.74,136.83,32.28,159.76

$$
\frac{S_t-S_{t-1}}{S_{t-1}}
$$

In [2]:
df_pct_change = df_close.pct_change()
df_pct_change.to_csv('../data/sp500/Pct_Change.csv')
df_pct_change = pd.read_csv('../data/sp500/Pct_Change.csv', index_col='Date', parse_dates=True)

In [3]:
df_pct_change.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_pct_change.tail()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-20,-0.006093,0.011445,-0.009365,-0.013806,0.008439,0.024640,0.035649,0.020718,-0.020956,0.018729,...,-0.012060,-0.008192,0.029654,-0.009864,0.000000,0.015406,-0.023240,-0.003279,-0.023701,-0.000252
2020-08-21,0.001300,0.007577,-0.003571,-0.007871,0.003719,-0.009405,-0.010993,0.012565,-0.008448,0.003900,...,0.031266,0.008694,0.000533,0.006116,0.000126,0.007586,-0.004411,-0.004678,-0.016807,-0.001072
2020-08-24,0.011255,-0.009863,-0.003690,-0.008518,0.001095,-0.001322,0.006509,-0.008710,0.006598,0.002775,...,0.048315,0.011493,0.028785,0.004608,0.025272,0.004810,0.000218,0.004774,0.045901,-0.010166
2020-08-25,-0.002629,0.010652,-0.004761,0.020233,0.001935,0.006258,0.017069,0.039360,-0.006873,-0.009961,...,-0.006683,-0.020452,-0.020207,0.008978,-0.005669,0.004059,0.008969,0.005774,0.000605,0.011610
2020-08-26,0.004905,0.007026,0.003083,-0.016007,0.009403,0.010285,0.090952,-0.003822,0.002691,-0.008944,...,-0.016355,-0.012179,-0.006346,0.015379,0.000248,-0.011920,0.024761,-0.005596,-0.023593,0.007441

# Reference

[How to find Percentage Change in pandas](https://kanoki.org/2019/09/29/how-to-find-percentage-change-in-pandas/)

[pandas.DataFrame.pct_change](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pct_change.html)