In [1]:
import numpy as np
import matplotlib.pyplot as plt; plt.style.use('seaborn')
import pandas as pd
import yfinance as yf

In [2]:
def download(ticker, start=None, end=None):
    if start is None:
        return yf.Ticker(ticker).history(period="max")
    else:
        return yf.Ticker(ticker).history(start=start, end=end)

$$\begin{array}{cccccccc}
r_D&=&\frac{S_1}{S_0}-1\\
r_C&=&\log\frac{S_1}{S_0}&\approx&\frac{S_1}{S_0}-1&=&r_D\\
\end{array}$$

In [3]:
df = download('FB')
df['C_Return'] = np.log(df.Close / df.Close.shift(1))
df['D_Return'] = (df.Close / df.Close.shift(1)) - 1
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,C_Return,D_Return
Date,,,,,,,,,
2012-05-18,42.05,45.00,38.00,38.23,573576400,0,0,NaN,NaN
2012-05-21,36.53,36.66,33.00,34.03,168192700,0,0,-0.116378,-0.109861
2012-05-22,32.61,33.59,30.94,31.00,101786600,0,0,-0.093255,-0.089039
2012-05-23,31.37,32.50,31.36,32.00,73600000,0,0,0.031749,0.032258
2012-05-24,32.95,33.21,31.77,33.03,50237200,0,0,0.031680,0.032188
...,...,...,...,...,...,...,...,...,...
2020-12-30,277.95,278.08,271.71,271.87,11803800,0,0,-0.017899,-0.017740
2020-12-31,272.00,277.09,269.81,273.16,12892900,0,0,0.004734,0.004745
2021-01-04,274.78,275.00,265.20,268.94,15106100,0,0,-0.015569,-0.015449
2021-01-05,268.29,272.40,268.21,270.97,9855800,0,0,0.007520,0.007548
2021-01-06,262.00,267.75,260.01,263.31,23302984,0,0,-0.028676,-0.028269

In [6]:
mu_C = df['C_Return'].mean() * 12 * 21 
mu_D = df['D_Return'].mean() * 12 * 21 
print(f'Annualized (Continuous) Mean Return : {mu_C:.2%}')
print(f'Annualized (Discrete)   Mean Return : {mu_D:.2%}')

Annualized (Continuous) Mean Return : 22.39%
Annualized (Discrete)   Mean Return : 29.32%

In [7]:
sigma_C = df['C_Return'].std() * np.sqrt(12 * 21) 
sigma_D = df['D_Return'].std() * np.sqrt(12 * 21) 
print(f'Annualized (Continuous) Volatility : {sigma_C:.2%}')
print(f'Annualized (Discrete)   Volatility : {sigma_D:.2%}')

Annualized (Continuous) Volatility : 37.13%
Annualized (Discrete)   Volatility : 37.42%

$$\begin{array}{cccccccccccc}
\frac{ds}{s}&=&\mu_D &dt&+&\sigma_D &db\\
d\log s&=&\mu_C&dt&+&\sigma_C&db&=&\left(\mu_D-\frac{1}{2}\sigma_D^2\right)&dt&+&\sigma_D &db\\
\end{array}$$

In [8]:
mu_C_Ito = mu_D - 0.5 * sigma_D**2
print(f'Annualized (Continuous)     Mean Return : {mu_C:.2%}')
print(f'Annualized (Ito-Continuous) Mean Return : {mu_C_Ito:.2%}')

Annualized (Continuous)     Mean Return : 22.39%
Annualized (Ito-Continuous) Mean Return : 22.32%